@primary-color: #4f46e4;
@text-color: #333;
@bg-light: #f9f9f9;
@border-radius: 16px;

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    background-color: @bg-light;
    margin: 0;
    padding: 0;
}

.promo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content:space-evenly;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    align-items: flex-start;
    width: 100%;

    &--item {
        display: flexbox;
        flex-direction: column;
        background: white;
        border-radius: @border-radius;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        margin: 0 auto;
        width: 30vw;
        max-width: 350px;
        height: 90vh;
        flex: 1 1 300px;
        text-align: center;
        transition: transform 0.3s ease;
        box-sizing: border-box;
        overflow: hidden;

        &:hover {
            transform: translateY(-5px);
        }
    }

    &__icon {
        display: flexbox;
        justify-content: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__content {
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        align-items: center;
        text-align: center;
    }

    &__image-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        height: 50%;
        aspect-ratio: 4/3;
        overflow: hidden;
        border-radius: @border-radius;
        margin-bottom: 1rem;
        background-color: @bg-light; //incase img fails to load
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        justify-content: center;
    }

    &__title {
        font-size: 1.5rem;
        color: @primary-color;
        margin-bottom: 0.5rem 0;
    }

    &__description {
        font-size: 1rem;
        color: @text-color;
        margin-bottom: 1rem;
    }

    &__link {
        display: flexbox;
        padding: 0.6rem 1.5rem;
        background-color: @primary-color;
        color: white;
        text-decoration: none;
        border-radius: @border-radius;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darken(@primary-color, 10%);
        }
    }

    @media (max-width: 600px) {
        .promo {
            flex-direction: column;
            align-items: center;
        }

        .promo--item {
            max-width: 90%;
            flex: 1 1 auto;
        }
    }
}